.slash {
	padding: 20px 0px;
	@include skewX(-30deg);
	@include box-sizing(content-box);
	font-size: 1.5em;
	font-family: "Helvetica Neue", Arial;
	font-weight: 300;
	cursor: pointer;
	&:first-child{
		    margin-left: -5px;
		&:after{
			content: "10 / 31";
			@include skewX(30deg);
			display: block;
		}
	}
	
	&:last-child{
		    margin-left: -1px;
		    margin-right: -25px;
		    padding-left: 25px;
	    &:after{
			content: "11 / 01";
			@include skewX(30deg);
			display: block;
		}
	}
	
}
.filter-img {
	@include filter(grayscale(0.4));
}
/*---------------------/

 ** schedule style **

/---------------------*/
.schedule {
	font-family: "Helvetica Neue", Arial, "Microsoft JhengHei","微軟正黑體";
	font-weight: 300;
	margin-bottom: 30px;
	.schedule-header {
		width: 100%;
		font-size: 1.5em;
		text-align: center;
		margin-bottom: $gutter*2;
		& > span {
			display: inline-block;
			position: relative;
			color: #00565E;
			&:after {
				content: "";
				position: absolute;
				bottom: -$gutter/2;
				left: 0;
				height: 2px;
				width: 100%;
				background-color: #00565E;
			}
		}
	}
	.schedule-body {
		@include display-flex;
		border: 1px solid #ccc;
		height: 200px;
		box-sizing: border-box;

	}
	.schedule-footer {
		border: 1px solid #ccc;
		padding: $gutter;
		display: none;
		& > h4 {
			color: #00565E;
		}
		&.active {
			display: block;
		}
	}
	.schedule-img {
		width: 200px;
		height: 198px;
		overflow: hidden;
		float: left;

	}
	
	.schedule-content {
		@include flex(1);
		background-color: #EFEFEF;
		border-left: 1px solid #ccc;
		color: #00565E;
		float: left;
		position: relative;
		
	}
	.schedule-content-header {
		padding: 0 20px;
		height: 10em;
		& > p {
			height: 3em;
			overflow: hidden;
			line-height: 1.5em;
		}
	}
	.schedule-content-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		
		& > div {
			height: 30px;
			line-height: 30px;
		}
	}
	.slideDown {
		width: 30px;
		height: 30px;
		border: 2px solid #00565E;
		font-size: 1.7em;
		line-height: 1;
		text-align: center;
		@include border-radius(15px);
		cursor: pointer;
		&:after{
			content:"＋";
		}
		&.active:after{
			content:"−";
		}

	}
	@media (max-width: $screen-xs-max) {
		.schedule-body {
			display: block;
			height: auto;
			border: none;
			overflow: hidden;
		}
		.schedule-img {
			float: none;
			width: 100%;
			height: auto;
			border: 1px solid #ccc;
		}
		.schedule-content {
			@include flex(initial);
			float: none;
			width: 100%;
			border: 1px solid #ccc;
		}
		.schedule-content-header {
			height: auto !important;
		    padding-bottom: 40px;
		}
		.schedule-footer {
			padding-top: 30px;
		}
		.fz-xs-h1{
			font-size: 34px;
		}		
	}


}
.pdreset{
	padding: 15px 0px 15px 15px;
	box-sizing: border-box;
	width: 100vw;
}
