<footer class="footer">
    <div class="container-fluid">
      <div class="row relative">
        <div class="col-sm-6">
          <a hreflang="en-US" href="?lang=en">English site</a>, <a hreflang="zh-Hant" href="?lang=zh">中文網站</a> <br>
          MOPCON&nbsp;2015 <a href="/2014/">2014</a> <a href="/2013/">2013</a> <a href="/2012/">2012</a>
        </div>
        <div class="col-sm-6">
          <img src="images/logo_black.png" class="visible-xs-inline-block mtm" height="24" alt="">
        </div>
        <img src="images/logo_black.png" class="absolute pos-b0 hidden-xs" style="right: 15px" height="24" alt="">
      </div>
    </div>
</footer>