<footer class="footer">
    <div class="container-fluid">
      <div class="row relative">
        <div class="col-sm-6">
          Help <br>
          Privacy & Terms <br>
          MOPCON 2015
        </div>
        <div class="col-sm-6">
          <img src="images/logo_black.png" class="visible-xs-inline-block mtm" height="24" alt="">
        </div>
        <img src="images/logo_black.png" class="absolute pos-b0 hidden-xs" style="right: 15px" height="24" alt="">
      </div>
    </div>
</footer>