
.header {
	padding: $header-vertical-padding $header-horizontal-padding $header-vertical-padding $header-horizontal-padding;
	background-color: $brand-primary;
	position: relative;
	overflow: hidden;
	.header-info-box {
		background-color: #FFF;
		display: inline-block;
		padding: 20px;
		margin-top: -$header-vertical-padding;
		margin-bottom: $header-vertical-padding;
		margin-left: auto;
		margin-right: auto;
		// text-align: justify;
		.en-location {
			font-size: 16px;
			color: #AAAAAA;
		}
		.tw-location {
			font-size: 16px;
		}
		hr {
			border-top-color: $brand-primary;
			width: 50%;
		}
		.num-date {
			font-size: 24px;
			color: #F8A48A;
		}
	}

	.circle-logo {
		background-image: image-url("large-logo.png");
		background-image: none, image-url("large-logo.svg");
		width: image-width("large-logo.png");
		height: image-height("large-logo.png");
		opacity: 0.1;
		position: absolute;
		left: -(image-width("large-logo.png") / 2);
		top: -(image-height("large-logo.png") / 2);
		@include animation(infinite-rotate 360s infinite linear);
	}
}

