<header class="header text-white text-center">
	<!-- <img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive"> -->
	<div class="circle-logo"></div>
  <img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive center-block common-idx">
</header>

<div class="mtm pdreset">
  <div class="col-xs-12 schedule">
    <div class="schedule-header"><span>2015/10/31&nbsp;&nbsp;&nbsp;&nbsp;11:15 ～ 12:00</span></div>     
    <div class="schedule-body">
      <div class="schedule-img"><img src="images/schedule/speaker-01.png" height="200" width="100%" alt=""></div>
      <div class="schedule-content">
        <div class="schedule-content-header">
          <h3>陳柏儒 (Blue)</h3>
          <p>如何用 reactjs + WoT 標準降低大眾進入硬體門檻</p>
        </div>
        <div class="schedule-content-footer text-white">
          <div class="schdule-type text-center">
            <div class="col-xs-6 p0 bg-deep-blue">二廳 (R2)</div>
            <div class="col-xs-6 p0 bg-pink">技術</div>
          </div> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 schedule-footer show">
      <h4>議題介紹</h4>
      <p>相較於 Internet of Things (IoT)，近來最紅的另一個名詞 Web of Things (WoT)，就是所有東西 (Things) 都可以透過 Web 標準協議彼此存取與結合。<br>本次主題，講者會以橫跨前端和硬體的背景跟大家分享，以及講者在硬體 IC 設計廠如何利用最潮的語言 (JavaScript) 和框架 (reactjs) 搭配現行的 WoT 標準打造豐富應用的開發版，降低大眾進入硬體的門檻。</p> 
      <h4>講者簡介</h4>
      <p>目前在聯發科擔任前端工程師，長期專注網頁前端標準技術。現行工作主要參與物聯網議題，致力於降低讓大眾進入硬體門檻的各種可能性。</p> 
    </div>
  </div>
</div>




