---
title: Welcome to Middleman
---

<header class="header">
	<img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive center-block">
</header>

<div class="bucket-panel">
	<!-- <div class="text-center">
		<h2>Hacker 贊助</h2>
	</div> -->
	<!-- <div class="row">
		<div class="col-sm-4 col-xs-6">
			<img src="images/sponsors_logo/asuscloud.png" class="img-responsive center-block" alt="">
		</div>
		<div class="col-sm-4 col-xs-6">
			<img src="images/sponsors_logo/ms.jpg" class="img-responsive center-block" alt="">
		</div>
		<div class="col-sm-4 col-xs-6">
			<img src="images/sponsors_logo/yahoo.png" class="img-responsive center-block" alt="">
		</div>
	</div> -->
	<div class="row">
		<div class="col-sm-3 col-xs-4">
			<img src="images/sponsors_logo/kkbox.png" class="img-responsive center-block" alt="">
		</div>
		<div class="col-sm-3 col-xs-4">
			<img src="images/sponsors_logo/aws.png" class="img-responsive center-block" alt="">
		</div>
		<div class="col-sm-3 col-xs-4">
			<img src="images/sponsors_logo/mozilla.png" class="img-responsive center-block" alt="">
		</div>
		<div class="col-sm-3 col-xs-4">
			<img src="images/sponsors_logo/gitcafe.png" class="img-responsive center-block" alt="">
		</div>
	</div>
</div>

<div class="relative bg-p-center res-background" style="background-image: url(https://c2.staticflickr.com/6/5608/15639412951_74b6990e29_k.jpg); padding-bottom: 400px">
	<div class="absolute pos-r0 pos-l0">
		<h1 class="text-center text-white">
			南台灣最大的技術研討會
		</h1>
	</div>
</div>

<div class="bucket-panel bg-dark">
	<div class="bucket-row">
		<i class="bucket-icon ton-li-people-7"></i>
		<h3 class="bucket-title">MOPCON 2014</h3>
		<div>The Best Conference </div>
	</div>
	<div class="flex-grid img vertical miner-mg">
		<div class="horizontal">
			<div class="three" style="background-image: url(https://c4.staticflickr.com/8/7507/15661032422_45f7e0b033_h.jpg)"></div>
			<div class="one vertical">
				<div class="one" style="background-image: url(https://c4.staticflickr.com/8/7540/15657377691_81a3510f0c_k.jpg)"></div>
				<div class="one" style="background-image: url(https://c4.staticflickr.com/8/7466/15473457969_dbb2bb98f0_h.jpg)"></div>
				<div class="one" style="background-image: url(https://c4.staticflickr.com/8/7560/15465466227_c168a20771_b.jpg)"></div>
			</div>
		</div>
	</div>
</div>

<div class="bucket-panel bg-light-gray">
	<div class="text-center">
		<h3 class="bucket-title">KKTIX 線上報名</h3>
		<hr class="thin-fragment">
		<a href="#" class="btn btn-lg btn-outer-border wide">報名</a>
	</div>
</div>

